<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.matrixteknoloji.pratikfis">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <dist:module dist:instant="true" />
    <application
        android:versionCode="7"
        android:versionName="1.4.3"

        android:launchMode="singleTask"
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        android:allowBackup="true"
        android:icon="@mipmap/pratic_plug_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pratic_plug_icon_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".login" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".get_values"></activity>
        <activity android:name=".settings"></activity>
        <activity android:launchMode="singleTop" android:name=".main_layout"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.matrixteknoloji.pratikfis"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>
</manifest>
